<div class="container device">
  <div class="device_frame">
    <h2 class="mb-3">アカウント編集</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="device_inner">
            <div class="field">
              <div class="form-group">
                <%= f.label :ユーザー名 %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "名前を入力してください" %>
              </div>
            </div>

            <div class="field">
              <div class="form-group">
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力してください" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <div class="form-group">
                <%= f.label :変更後パスワード %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "変更する場合のみ入力" %>
                </div>
              </div>

            <div class="field">
              <div class="form-group">
                <%= f.label :パスワード確認用 %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "変更する場合のみ入力" %>
              </div>
            </div>

            <div class="field">
              <div class="form-group">
                <%= f.label :現在のパスワード %>
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "現在のパスワードを入力" %>
              </div>
            </div>

            <div class="field">
              <div class="form-group">
                <%= f.label :プロフィール %><br />
                <%= f.text_area :profile, autofocus: true, autocomplete: "profile", class: "form-control", placeholder: "自己紹介を入力してください" %>
              </div>
            </div>

            <div class="actions">
              <%= f.submit "更新", class: "form-control btn-primary my-4" %>
            </div>
          <% end %>

            <div class="actions">
              <%= link_to "戻る", :back, class: "form-control btn btn-outline-secondary" %>
            </div>
          </div>
    </div>
  </div>
